old/
obj/
dobj/
tobj/
lib/
dylib/
include/
*.o
*.bin
._*
pokgame
pokgame-debug
pokgame-test
tilemaker
spritemaker

test/img
test/maps
game/
default/

*.obj
pokgame.vcxproj.filters
pokgame.vcxproj.user
Debug/
Release/
ReleaseLib/
ReleaseLibGDI/
TestDebug/
TestRelease/
